.homeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 75em;
    height: 40em;
}

.restaurant-description {
    width: 60%;
}
