.homeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 75em;
    height: 40em;
}

.restaurant-description {
    width: 60%;
}

.logo {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    text-align: center;
    width: 100%;
}

.restaurant div{
    width: 40em;
}

.logo {
    margin-top: 1em;
}